.form-container {
    margin: 100px auto;
    width: 1000px;
    border-radius: 10px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.form-content{
    border-radius: 0 10px 10px 0;
    position: relative;
    background: linear-gradient(90deg, rgb(191, 213, 243) 0%, rgb(190, 135, 245) 100%);
}

.form-with-validation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form h1 {
    font-size: 1rem;
    text-align: start;
    width: 80%;
    margin-bottom: 1rem;
    color: #000000;
}

.sign-up-form-inputs {
    margin-bottom: 0.5rem;
    width: 80%;
}

.sign-up-form-inputs p {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    color: #f00e0e;
}

.form-label {
    display: flex;
    font-size: 1rem;
    margin-bottom: 6px;
    color: #000000;
}

.form-input {
    display: block;
    padding-left: 10px;
    outline: none;
    border-radius: 2px;
    height: 40px;
    width: 100%;
    border: none;
}

.form-input::placeholder {
    color: #595959;
    font-size: 12px;
}

.form-sign-up-btn {
    width: 80%;
    height: 50px;
    margin-top: 10px;
    border-radius: 2px;
    background: linear-gradient(
            90deg,
            rgb(39, 176, 255) 0%,
            rgb(0, 232, 236) 100%
    );
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.form-sign-up-btn:hover {
    cursor: pointer;
    background: linear-gradient(
            90deg,
            rgb(39, 143, 255) 0%,
            rgb(12, 99, 250) 100%
    );
    transition: all 0.4s ease-out;
}
